body{
    margin: 0;
}
.nav-main{
    height: 70px;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    padding: 0 24 0 24; 
}
.nav-main-big{
    height: 4rem;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    padding: 0 24 0 24; 
}
.nav-main-small{
    height: 4rem;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    align-items: center;
    padding: 0 24 0 24; 
}

.nav-logo{
    height: 35px;
}
.nav-link{
    margin: 15px;
}
.search-btn-img{
    height: 20px;

}
.search-btn{
    
    background-color: transparent;
    border: 0;
    background-image: url("images/61088.png");
}
.list-btn{
    
    background-color: transparent;
    border: 0;
}
.search-form{
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
}
.search-input{
    border-radius: 1000px;
    height: 3.4rem;
    padding: 0 0 0 10;
    background-color: whitesmoke;
    flex-grow: 1;
}

.nav-btn{
    height: 40px;
    font-weight: 700;
    margin: 5px;
    border-width: 1px;
}
.language-btn{
    
    background-color: transparent;
    width: 40px;
}

.language-img{
    height: 15px;
}

.signup-btn{

    background-color: black;
    color: white;
    width: 80px;

}
.login-btn{

    background-color: white;
    color: black;
    width: 80px;

}

.header-big-img{
    margin:0 5vw 3vh 5vw ;
    width: 100vw;
}

.catching-article{
    padding: 2rem;
    border: solid;
    border-width: 1px;
    width: 30vw;
}
.header-container-big .catching-article{
    position: absolute;
    padding: 2rem;
    top: 10vh;
    left: 7vw; 
    border: solid;
    border-width: 1px;
    width: 30vw;
}
.catching-article h1{

    font-size:1.8rem;
    font-weight: 700;
}
.header-small-img{
    width: 100vw;
    height: auto;
}

.header-container-big{
    display:flex;
}
.header-container-small .catching-article{
    width: 100vw;
    height: auto;
    margin: 0;
    border: none;
}

.top-cats{
    font-weight: 700;
    font-size: 25px;
}
.top-cats-container img{
    width: 20vw;
    max-width: 300px;
    min-width: 200px;
}
.courses-catching{
    margin-left: 7vw;
}

.courses{
    margin-left: 7vw;
    margin-right: 7vw;
}
.stars_rate{
    width: 100px;

}

.nav-link-courses{
    background-color: transparent;
    padding: 20px 20px 20px 0;
    font-weight: 800;
}

.tab-pane{

    border: solid;
    border-width: 1px;
    border-color: grey;
    padding: 30px;
}

.explore-btn{

    background-color: white;
    color: black;
}
.py-crs{
    width: 30vw;
    max-width: 300px;
    min-width: 200px;
}

.crs-img{
    width: 30vw;
    max-width: 300px;
    min-width: 200px;

}
.carousel-btn{
    background-color: black !important;
    width: 5vh !important;
    height: 5vh !important;
    border-radius: 50% !important; 
    top: 50% !important;
}

.py-crs h4 strike{
    
    color: gray;
}
.py-crs .rate label{
    
    color: red;
    font-weight: 700;
}

@media only screen and (max-width:1050px) {
    
    
    .nav-main-small{
        display:flex;
    }
    .nav-main-big{
        display:none;
    }
    .header-container-small{
        display:block;
    }
    .header-container-big{
        display:none;
    }
    
    .course-wraper{
        justify-content: space-between;
    }
    
}
@media only screen and (min-width:1050px) {
    
    
    .nav-main-small{
        display:none;
    }
    .nav-main-big{
        display:flex;
    }
    .header-container-small{
        display:none;
    }
    .header-container-big{
        display:flex;
    }
    
    .course-wraper{
        justify-content: space-around;
    }
        
    
}