.course-card{
  width: 30vw;
  max-width: 300px;
  min-width: 200px;
  padding: 3px;
}
.course-card-img{
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
}
.rate label{
  color: red;
  font-weight: 700;
}
.course-panel{
  border: solid;
  border-width: 1px;
  border-color: grey;
  padding: 30px;
  margin-left: 7vw;
  margin-right: 7vw;
}
.nav-btn {
  height: 40px;
  font-weight: 700;
  margin: 5px;
  border-width: 1px;
}
.explore-btn {
  background-color: white;
  color: black;
}

.courses-cards-panel{
  display: flex;
  justify-content: space-between;
}